svg#waves(xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none")
  path(d="M0 0 Q 2.5 40 5 0  Q 7.5 40 10 0 Q 12.5 40 15 0 Q 17.5 40 20 0 Q 22.5 40 25 0 Q 27.5 40 30 0 Q 32.5 40 35 0 Q 37.5 40 40 0 Q 42.5 40 45 0 Q 47.5 40 50 0  Q 52.5 40 55 0 Q 57.5 40 60 0 Q 62.5 40 65 0 Q 67.5 40 70 0 Q 72.5 40 75 0 Q 77.5 40 80 0 Q 82.5 40 85 0 Q 87.5 40 90 0 Q 92.5 40 95 0 Q 97.5 40 100 0 Z")
footer
  .container
      p.left
        | © 2014 Go Sling Code. Created with &lt;3 at hackBCA.
        br
        a.border-link(href='/about') About
        | &nbsp;&nbsp;&nbsp;
        a.border-link(href='/apps') Apps
        | &nbsp;&nbsp;&nbsp;
        a.border-link(href='/privacy') Privacy
      p.right
        a.btn.btn-alt(onclick='$("html, body").animate({ scrollTop: 0 }, 600);') Back to Top
if !user
  .modal.hidden#login(style='display:none')
    .window
      h1 Welcome Back!
        a.close(onclick='blast("login")') X
        a.close(onclick='blast("login")') ?
      form.normal(method='POST')
        input(type='hidden', name='_csrf', value=token)
        .col-sm-8.col-sm-offset-2
          if secrets.localAuth
            .form-group
              label.control-label(for='email') Email
              input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
              label.control-label(for='password') Password
              input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
              button.btn.btn-primary.btn-block(type='submit' style='display:block;width:80%;margin:auto;')
                i.fa.fa-unlock-alt
                | Login
              br
              br
            hr
          h1.footer
            if secrets.facebookAuth
              a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                i.fa.fa-facebook
                | Sign in with Facebook
            if secrets.twitterAuth
              a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                i.fa.fa-twitter
                | Sign in with Twitter
            if secrets.googleAuth
              a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
                i.fa.fa-google-plus
                | Sign in with Google
            if secrets.githubAuth
              a.btn(href='/auth/github')
                i.fa.fa-github
                | Sign in with GitHub
            if secrets.linkedinAuth
              a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
                i.fa.fa-linkedin
                | Sign in with LinkedIn
  .modal.hidden#signup(style='display:none')
    .window
      h1 Create An Account
        a.close(onclick='blast("signup")') X
      form.normal(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=token)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit' style='display:block;width:80%;margin:auto;')
              i.fa.fa-check
              | Signup
