extends layout

block content

  header#404(style='background:none')
    h1 Not Found!
    p.content
      | Not found, yo.
  style #wrap{background:url(http://octodex.github.com/images/minion.png) orange; background-size: cover; } #waves path { fill: orange; }
