extends layout

block content
  header#learn(style='background: url(img/bg2.png);background-size:100%  200%;')
    h1.lead Go Sling Code!
    p.lead
      | An interactive code tutorial website tailored for young kids.
    if secrets.githubAuth
      a.btn.btn-block(href='/auth/github')
        i.fa.fa-github-alt
        | Login with GitHub
    | &nbsp; &nbsp;
    a.btn(onclick="launch#login")
      i.fa.fa-key
      | Login

  section
    h1 Learning to program is easy with Go Sling!
    p.content
      | With Go Sling's intuitive user interface designed from the ground up for young kids, learing to build websites becomes a fun, interactive course for kids to learn about computers and have fun at the same time. Give Go Sling a try and sign up for free by clicking the link above.