extends layout-wide

block content

  header.center#learn(style='background:url(img/bg2.png); color:white; background-size:cover;background-attachment:fixed;')
    .container
      h1.lead Go Sling Code!
      p.lead
        | A crowdsourced interactive code tutorial website tailored for young kids.
      if !user
        if secrets.githubAuth
          a.btn.btn-block(href='/auth/github')
            i.fa.fa-github-alt
            | Login with GitHub
        | &nbsp; &nbsp;
        a.btn(onclick="launch('login')")
          i.fa.fa-key
          | Login
        br
        br
      iframe(src='http://www.youtube.com/embed/nKIu9yen5nc' style='border:none;margin:auto; width: 100%; height: 500px;')
  section
    .row
      .grid-4
        br
        img(src='http://i.imgur.com/d3ZwdWM.png' style='max-width:100%;height:auto;')
      .grid-8
        h1 Learning to program is easy with Go Sling!
        p.content
          | With Go Sling's intuitive user interface designed from the ground up for young kids, learing to build websites becomes a fun, interactive course for kids to learn about computers and have fun at the same time. Give Go Sling a try and sign up for free by clicking the link above.
  section
    .row
      .grid-8
        h1 Contribute on GitHub!
        p.content
          | Our tutorials are powered by markdown from GitHub. You can contribute by sending us a pull request.
        br
        a.btn(href='https://github.com/LabLayers/GoSling')
          i.icon-ideas
          |   Pull Request to LabLayers/GoSling
      .grid-4
        img(src='http://i.imgur.com/gENL8JL.png' style='max-width:100%;height:auto;')
