extends layout

block content
  header#learn(style='background: url(http://i.imgur.com/JbjF1PR.jpg);')
    h1 Lesson
    p.lead
      | Find something new.
  section#lessons
    .row
      .grid-4
        a(href='/track?html-basics')
          i.icon-window
          h2 HTML Basics
          p Learn the basics of web developement.
      .grid-4
        a(href='/track?server-basics')
          i.icon-server
          h2 Server Basics
          p Get started with hosting your HTML code.
      .grid-4
        a(href='/track?wordpress')
          i.icon-notebook
          h2 WordPress
          p Learn how to use the world's most popular CMS.
    .row
      .grid-4
        a(href='/track?create-a-game')
          i.icon-gameboy
          h2 Create a Game
          p Build an interactive flappy bird game.
