extends layout

block content
  header#learn(style='background: url(http://i.imgur.com/JbjF1PR.jpg);')
    h1 Lesson
    p.lead
      | Learn from the world's experts in coding and beyond.
  section
    h1 Create Something Awesome
    p.lead
      | Marketing Material Here