extends layout

block content
  header#learn(style='background: url(http://i.imgur.com/JbjF1PR.jpg);')
    h1 Lesson
    p.lead
      | Find something new.
  section#lessons
    .row
      .grid-4
        a
          h2 Web Design
          p Learn to make websites
      .grid-4
        a
          h2 Web Developement
          p Test
      .grid-4
        a
          h2 WordPress Developement
          p Test
    .row
      .grid-4
        a
          h2 Jekyll
          p Test
