body
{
	background-image: url('img/bg.png');
}

.tutor
{
	position: absolute;
	top: 10px;
	width: 540px;
	left: 134px;
	height: 40px;
	color: white;
	padding: 5px;
	background-color: rgb(39, 40, 34);
	border-radius: 2;
}

.tutor-arrow
{
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 9px solid rgb(39, 40, 34);
	float: right;
	position: absolute;
	left: 125px;
	top: 28px;
}

.tutor .button
{
	float: right;
}

.container
{
	position: absolute;
	top: 67px;
	left: 115px;
	width: 550px;
	float: left;
}

.html_area
{
	width: 550px;
	float: left;
	height: 584px;
	background: white;
	position: absolute;
	left: 700px;
	top: 67px;
	border-radius: 2px;
	padding: 7px;
	border-top: 2px solid #ddd;
	overflow: hidden;
}

.CodeMirror
{
	border-radius: 2px;
	height: 600px;
}

.tab
{
	background-color: #ddd;
	width: 200px;
	height: 50px;
	position: absolute;
	top: 35px;
	left: 700px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 7px;
	padding-top: 5px;
}

.tab:before {
    height: 50px;
    width: 10px;
    display: block;
    content:" ";
    background-color: #ddd;
    position: absolute;
    right: -2px;
    top: -2px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.tab {
    height: 50px;
    width: 150px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ddd;
    border: 2px solid #ddd;
    color: #000;
}

.tab .title
{
	position: relative;
	top: -3px;
	color: #000;
	font-size: 10pt;
}
.tab:after {
    display: block;
    content:" ";
    width: 100px;
    height: 50px;
    top: -2px;
    background-color: #ddd;
    position: absolute;
    right: -29px;
    transform:skewX(45deg);
    -ms-transform:skewX(45deg);
    -webkit-transform:skewX(45deg);
    border: 2px solid #ddd;
    z-index: -1;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 18px solid rgba(249, 38, 114, 0.7);
	float: right;
	position: relative;
	left: 30px;
	bottom: 3px;
}

.CodeMirror-scroll {  
    overflow: auto; 
}  

.csj {
	position: absolute;
	top: 27px;
	left: 80px;
	z-index: 100;
}

#typed-cursor{
			opacity: 1;
			font-weight: 100;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			-ms-animation: blink 0.7s infinite;
			-o-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}
		@-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-ms-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-o-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}