/*!
 * Preboot v2 Docs
 * Styles for presenting Preboot features and benefits.
 */


//
// Dependencies
//

@import "preboot/normalize.less";
@import "preboot/preboot.less";
@import "preboot/pygments.less";


//
// Docs
//

body {
  padding: 0;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #555;
}


// Main

