body 
{
	background-image: url('css/bg.png');
    height: 100%;
    width: 100%;
}

.button, .button:active
{
	outline: none;
	border-radius: 2px;
}

.login input[type="text"], .login input[type="password"]
{
	padding: 15px;
	outline: none;
	border-radius: 2px;
	transition: 0.2s;
	font-weight: 200;
}

.login input[type="text"]:focus, .login input[type="password"]:focus
{
	border: 1px solid #00cc00;
	box-shadow: 0px 0px 5px #00cc00;
}

.login input[type="text"], .login input[type="password"], .button
{
	width: 400px;
}

.login
{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -200px;
}

.logo
{
	color: white;
	text-align: center;
	font-family:  'Courgette', cursive;
}

.sidebar
{
	background-color: #333;
	background-image: url('css/sbg.png');
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 200px;
}

.sidebar a
{
	text-decoration: none;
	color: #ccc;
	outline: none;
}

.sidebar > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar li
{
	padding: 30px;
	font-size: 13pt;
	transition: 0.1s;
	text-shadow: 0.1em 0.1em 0.05em #333
}

.sidebar li:first-child
{
	padding-bottom: 0px;	
	margin-bottom: 0px;	
}

.sidebar li:hover:not(:first-child)
{
	background-color: rgba(51, 51, 51, 0.5);
	cursor: pointer;
	/*font-size: 14pt;*/
	text-shadow: 0.5em 0.50em 0.05em #black;	
	border-left: 5px solid #ff2800;
}

.sidebar .title
{
	font-family:  'Courgette', cursive;
	font-size: 17pt;
	cursor: default;
}

.sidebar hr
{
	padding-bottom: 0px;
	margin-bottom: 15px;	
	cursor: default;
}

.tutor
{
	position: absolute;
	top: 57px;
	height: 30px;
	width: 550px;
	left: 250px;
}

.tutor .button
{
	float: right;
}

.container
{
	position: absolute;
	top: 87px;
	left: 250px;
	width: 550px;
	float: left;
}

.html_area
{
	width: 550px;
	float: left;
	height: 584px;
	background: white;
	position: absolute;
	left: 820px;
	top: 87px;
	border-radius: 2px;
	padding: 7px;
	border-top: 2px solid #ddd;
	overflow: hidden;
}

.CodeMirror
{
	border-radius: 2px;
	height: 600px;
}

.tab
{
	background-color: #ddd;
	width: 200px;
	height: 50px;
	position: absolute;
	top: 57px;
	left: 820px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 7px;
	padding-top: 5px;
}

.tab:before {
    height: 50px;
    width: 10px;
    display: block;
    content:" ";
    background-color: #ddd;
    position: absolute;
    right: -2px;
    top: -2px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.tab {
    height: 50px;
    width: 150px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ddd;
    position: relative;
    border: 2px solid #ddd;
    color: #000;
}

.tab .title
{
	position: relative;
	top: -3px;
	color: #000;
	font-size: 10pt;
}
.tab:after {
    display: block;
    content:" ";
    width: 100px;
    height: 50px;
    top: -2px;
    background-color: #ddd;
    position: absolute;
    right: -29px;
    transform:skewX(45deg);
    -ms-transform:skewX(45deg);
    -webkit-transform:skewX(45deg);
    border: 2px solid #ddd;
    z-index: -1;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 18px solid rgba(249, 38, 114, 0.7);
	float: right;
	position: relative;
	left: 30px;
	bottom: 3px;
}

.CodeMirror-scroll {  
    overflow: auto; 
}  